{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "maps/css/maps.css" %}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_api_key }}"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_api_key }}&libraries=LIBRARY"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_api_key }}&libraries=services,clusterer,drawing"></script>
{% endblock head %}
{% block content %} 
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li id="search-btn">검색</li>
                <li><a href="#location2">Location 2</a></li>
            </ul>
        </nav>
        <div class="map-container">
            <div id="map"></div>
        </div>
        <!-- 검색창 추가 -->
        <div id="search-container">
            <input type="text" id="search-input" placeholder="검색어를 입력하세요">
            <button id="search-close-btn">닫기</button>
        </div>
        <!-- 어두운 배경 추가 -->
        <div id="overlay"></div>
    </div>
    
    <script src="{% static "maps/js/maps.js" %}"></script>
{% endblock content %}
